.twelve.wide.column
  .ui.horizontal.segment
    #mainPageContent
      h4#activity-detail-title 活动详情
      if isSponsor
        #activity-detail-edit-button
          button.ui.primary.button.modify 修改
      #activity-detail-sponsor-info.ui.two.column.grid
        .row
          .column
            .ui.raised.segment
              #sponsor-info-name.ui.red.ribbon.label 活动名称
              p #{activity.name}
              #sponsor-info-order-num.ui.orange.ribbon.label 预定人数
              p #{activity.numOfPeople}
              #sponsor-info-meeting-address.ui.blue.ribbon.label 约会地点
              p #{activity.place}
              #sponsor-info-deadline.ui.green.ribbon.label 截止时间
              p #{activity.deadline}
              #sponsor-info-img.ui.teal.ribbon.label 封面图片
              p
              each images
                img.rounded.ui.image(src="#{this.url}")
              p
              #sponsor-info-content.ui.green.ribbon.label 内容
              p #{activity.description}
              #sponsor-info-contact.ui.teal.ribbon.label 个人联系方式
              if isAgree
                p qq: #{isAgree}
              else
                p 保密
      unless isSponsor
        #activity-detail-follow
          button.ui.button.blue.apply 报名
      #activity-detail-select
        h4.ui.header 筛选人员
        #activity-detail-select-table
          #table-header
            ul
              li 姓名
              li 联系方式
              li 信用度
          each activity.applyList
            unless this.success
              .table-body
                ul.select
                  li #{applierName}
                  li #{phone}
                  li 2
        if isSponsor
          .ui.button.blue.ensure-select 确认筛选
        //- else
        //-   .ui.button.orange 评论
      if isSponsorOrParticipant
        #activity-detail-comment
          h4.ui.header 参与人员
          if isSponsor
            #activity-detail-take-part-in-table
              #table-header
                ul
                  li 姓名
                  li 信用度
                  li 评分
              each activity.applyList
                if this.success
                  .table-body
                    ul
                      li #{applierName}
                      li 4
                      li
                        .ui.rating.active.heart(id="#{applier}")
                          i.icon
                          i.icon
                          i.icon
                          i.icon
                          i.icon
                      .cancel_select
          else
            #activity-detail-take-part-in-table-for-participator
              #table-header
                ul
                  li 姓名
                  li 信用度
              each activity.applyList
                if this.success
                  .table-body
                    ul
                      li #{applierName}
                      li 4

      //- show comments
      div.ui.blue.segment.form
        h3.ui.header
          i.icon.inverted.circular.blue.comment
          |  关于这次活动的评论 
        .ui.comments
          if noneComment
            h3
              | 暂时没有评论，快来抢沙发～～
          else
            each commentors
              +commentoritem
      //-write down your commment
      if isParticipantSuccess
        form(method="post")
          .ui.blue.segment
            .ui.form
              if isCommented
                .grouped.fields
                  .field
                    .ui.button
                      | 你已经评论过，你可以在下面进行修改！
                  .field
                    textarea(name='comment') #{commentContext}
                  button.ui.fluid.blue.labeled.submit.icon.button(type='submit')
                    i.icon.edit
                    | 修改我的评论!
              else
                .grouped.fields
                  .field
                    textarea(name='comment' placeholder="你可以在这里写下你的评论！")
                  button.ui.fluid.blue.labeled.submit.icon.button(type='submit')
                    i.icon.edit
                    |  我也来评论一下！
