.twelve.wide.column
  .ui.horizontal.segment
    #mainPageContent
      h4#activity-detail-title 活动详情
      if isSponsor
        #activity-detail-edit-button.ui.primary.button 修改
      #activity-detail-sponsor-info.ui.two.column.grid
        .row
          .column
            .ui.raised.segment
              #sponsor-info-name.ui.red.ribbon.label 活动名称
              p #{activity.name}
              #sponsor-info-order-num.ui.orange.ribbon.label 预定人数
              p #{activity.numOfPeople}
              #sponsor-info-meeting-address.ui.blue.ribbon.label 约会地点
              p #{activity.place}
              #sponsor-info-deadline.ui.green.ribbon.label 截止时间
              p #{activity.deadline}
              #sponsor-info-img.ui.teal.ribbon.label 封面图片
              p #{activity.cover}
              #sponsor-info-content.ui.green.ribbon.label 内容
              p #{activity.description}
              #sponsor-info-contact.ui.teal.ribbon.label 个人联系方式
              if isAgree
                p #{sponsorPhone}
              else
                p 保密
      unless isSponsor
        #activity-detail-follow
          button.ui.button.blue.apply 报名
      #activity-detail-select
        h4.ui.header 筛选人员
        table.ui.table.segment
          thead
            tr
              th 姓名
              th 联系方式
              th 信用度
          tbody
            each activity.applyList
              tr
                td #{applierName}
                td #{phone}
                td 2
        if isSponsor
          .ui.button.blue 确认筛选
        else
          .ui.button.orange 评论
      if isSponsor 
        #activity-detail-comment
          h4.ui.header 参与人员
          table.ui.table.segment
            thead
              tr
                th 姓名
                th 信用度
            tbody
              tr.checked
                td 无特别的名字
                td#three 2
              tr
                td 张三
                td 3
              tr
                td 李四
                td 4
              tr
                td 王五
                td 2
          .ui.button.orange 评论

